* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(27, 24, 34);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password {
  font-size: 1.2rem;
  color: #fff;
  width: auto;
  min-width: 80%;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #fff;
  background: rgb(27, 24, 34);
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.buttons-container button {
  padding: 8px 15px;
  background-color: rgb(226, 25, 129);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
}
.buttons-container button:hover {
  background-color: rgb(223, 74, 151);
}
.text-confirmation {
  color: rgb(56, 183, 100);
  font-size: 1.8rem;
}
